<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Disabled</a>
  </li>
</ul>
<div class="container">
  <h1>Q&Aトップページ</h1>

  <form>
    <input type="text" placeholder="質問を検索...">
    <button type="submit">検索</button>
  </form>

  <a href="/questions/new" class="btn btn-primary">新しい質問</a>


</div>
